<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="http://178.128.113.184:8081/public/" target="_parent" />
    <link rel="stylesheet" href="style/index.css" />
    <link rel="shortcut icon" href="img/logo-web.png" />
    <title>TB NET</title>
  </head>

  <body>
    <!-- Header -->
    <section id="header">
      <div class="header container">
        <div class="nav-bar">
          <div class="brand">
            <a href="#hero">
              <h1><span>T</span>B<span>N</span>et</h1>
            </a>
          </div>
          <div class="nav-list">
            <div class="hamburger">
              <div class="bar"></div>
            </div>
            <ul>
              <li><a href="#hero" data-after="Home">Home</a></li>
              <li><a href="#about" data-after="About">Giới thiệu</a></li>
              <li><a href="#services" data-after="Service">Dịch vụ</a></li>
              <li><a href="#projects" data-after="Projects">Dự án</a></li>
              <li><a href="#contact" data-after="Contact">Liên hệ</a></li>
              <li><a href="/auth/login">Login</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- End Header -->

    <!-- Hero Section  -->
    <section id="hero">
      <div class="hero container">
        <div>
          <!-- <h1>XIN CHÀO, <span></span></h1> -->
          <h1>
            CHÚNG TÔI LUÔN NỖ LỰC NHẰM MANG ĐẾN NHỮNG GIẢI PHÁP HIỆU QUẢ NHẤT
            CHO ĐỐI TÁC. <span></span>
          </h1>
          <h1>TB NET <span></span></h1>
          <a href="#projects" type="button" class="cta">Dự án</a>
        </div>
      </div>
    </section>
    <!-- End Hero Section  -->

    <!-- About Section -->
    <section id="about">
      <div class="about container">
        <div class="col-left">
          <div class="about-img">
            <img src="img/about.png" alt="img" />
          </div>
        </div>
        <div class="col-right">
          <h1 class="section-title">Giới <span>thiệu</span></h1>
          <h2>TB NET</h2>
          <p>
            Công ty Cổ phần Viễn thông TBNET được thành lập ngày 24/4/2010, có
            trụ sở tại Thành phố Hồ Chí Minh. Trải qua hơn 10 năm hoạt động và
            phát triển, chúng tôi đã xây dựng được đội ngũ nhân viên có nhiều
            kinh nghiệm, kỹ năng cùng với sự sáng tạo, nhiệt huyết. Thế mạnh của
            Công ty TBNET gồm những lĩnh vực như sau: - Xây lắp và vận hành công
            trình điện mặt trời - Sửa chữa thiết bị điện tử viễn thông - Các
            giải pháp chuyển đổi số - Vận hành khai thác hạ tầng viễn thông Hiện
            nay, thế giới ngày càng chú trọng đến những giải pháp mang tính thân
            thiện môi trường, ứng dụng những thành tựu của cuộc cách mạng công
            nghệ 4.0 để hướng tới sự phát triển bền vững. Với nhiều năm kinh
            nghiệm trong lĩnh vực thi công công trình và tư vấn giải pháp, Công
            ty TBNET đang thực hiện sứ mệnh trở thành nhà cung cấp đáng tin cậy
            trong lĩnh vực điện mặt trời và các giải pháp chuyển đổi số. Đến với
            chúng tôi, Quý đối tác sẽ nhận được sự tư vấn tận tình và chi tiết
            về những băn khoăn khi đầu tư dự án, giúp Quý đối tác yên tâm lựa
            chọn phương án phù hợp nhất. Chúng tôi luôn mong muốn được chia sẻ
            giải pháp và dịch vụ của mình theo phương châm: "HỢP TÁC ĐỂ CÙNG
            PHÁT TRIỂN"
          </p>
        </div>
      </div>
    </section>
    <!-- End About Section -->
    <!-- Service Section -->
    <section id="services">
      <div class="services container">
        <div class="service-top">
          <h1 class="section-title"><span>D</span>ịch<span>V</span>ụ</h1>
          <p>TẬN TÂM - AN TOÀN - CHẤT LƯỢNG</p>
          <p>
            Chúng tôi mang đến những công trình bền vững theo thời gian, đảm bảo
            hiệu suất hoạt động, mang lại giải pháp tài chính tối ưu cho chủ đầu
            tư
          </p>
        </div>
        <div class="service-bottom">
          <div class="service-item">
            <div class="icon">
              <img
                src="https://img.icons8.com/bubbles/100/000000/services.png"
              />
            </div>
            <h2>Sửa chữa Inverter Solar</h2>
            <p>- Tiếp nhận thiết bị</p>
            <p>- Test trước sửa chữa</p>
            <p>- Sửa chữa, thay thế linh kiện</p>
            <p>- Test sau sửa chữa</p>
            <p>- Lắp đặt tại công trình</p>
          </div>
          <div class="service-item">
            <div class="icon">
              <img
                src="https://img.icons8.com/bubbles/100/000000/services.png"
              />
            </div>
            <h2>Thi công Điện mặt trời</h2>
            <p>- Khảo sát chi tiết</p>
            <p>- Tư vấn giải pháp kỹ thuật</p>
            <p>- Tư vấn giải pháp tài chính</p>
            <p>- Cung cấp vật tư thiết bị</p>
            <p>- Thi công lắp đặt</p>
            <p>- Test nghiệm thu hệ thống</p>
            <p>- Vận hành, bảo trì</p>
          </div>
          <div class="service-item">
            <div class="icon">
              <img
                src="https://img.icons8.com/bubbles/100/000000/services.png"
              />
            </div>
            <h2>Xây lắp, vận hành mạng viễn thông</h2>
            <p>- Đo kiểm tối ưu hóa mạng di động 2G, 3G, 4G</p>
            <p>- Đo Benchmarking nhiều mạng đồng thời</p>
            <p>- Lắp đặt, di dời nhà tram, bảo dưỡng nhà tram, cột ăng ten</p>
            <p>
              - Sửa chữa thiết bị viễn thông: Thiết bị thu phát, thiết bị nguồn,
              thiết bị điều khiển, thiết bị truyền dẫn.
            </p>
          </div>
          <div class="service-item">
            <div class="icon">
              <img
                src="https://img.icons8.com/bubbles/100/000000/services.png"
              />
            </div>
            <h2>Vận hành bảo dưỡng Solar (O&M)</h2>
            <p>- Giám sát hoạt động của hệ thống</p>
            <p>- Bảo trì tấm quang điện</p>
            <p>- Bảo trì Inverter</p>
            <p>- Bảo trì hệ thống điện, combiner box</p>
            <p>- Bảo trì hệ thống cáp AC, cáp DC</p>
            <p>- Bảo trì hệ thống tiếp đất chống sét</p>
            <p>- Bảo trì acquy lưu trữ</p>
            <p>- Sửa chữa, thay thế thiết bị, phụ kiện</p>
          </div>
        </div>
      </div>
    </section>
    <!-- End Service Section -->

    <!-- Projects Section -->
    <section id="projects">
      <div class="projects container">
        <div class="projects-header">
          <h1 class="section-title">DỰ ÁN<span>ĐÃ TRIỂN KHAI</span></h1>
        </div>
        <div class="all-projects">
          <div class="project-item">
            <div class="project-info">
              <h1>CÔNG TRÌNH 10 KWP</h1>
              <h2>ĐỊA ĐIỂM: QUẬN 9</h2>
              <p>Công suất (kWp): 10</p>
              <p>Sản lượng (kWh/năm):</p>
              <p>Giảm thải CO2 (tấn/năm):</p>
              <p>Thời gian thi công (Năm):</p>
            </div>
            <div class="project-img">
              <img src="img/project1.png" alt="img" />
            </div>
          </div>
          <div class="project-item">
            <div class="project-info">
              <h1>CÔNG TRÌNH 100 KWP</h1>
              <h2>ĐỊA ĐIỂM: HUYỆN ĐỨC TRỌNG, TỈNH LÂM ĐỒNG</h2>
              <p>Công suất (kWp): 100</p>
              <p>Sản lượng (kWh/năm):</p>
              <p>Giảm thải CO2 (tấn/năm):</p>
              <p>Thời gian thi công (Năm):</p>
            </div>
            <div class="project-img">
              <img src="img/project2.png" alt="img" />
            </div>
          </div>
          <div class="project-item">
            <div class="project-info">
              <h1>CÔNG TRÌNH 1.000 KWP</h1>
              <h2>ĐỊA DIỂM: KCN AN NGHIỆP, TỈNH SÓC TRĂNG</h2>
              <p>Công suất (kWp): 1000</p>
              <p>Sản lượng (kWh/năm):</p>
              <p>Giảm thải CO2 (tấn/năm):</p>
              <p>Thời gian thi công (Năm):</p>
            </div>
            <div class="project-img">
              <img src="img/project3.png" alt="img" />
            </div>
          </div>
          <div class="project-item">
            <div class="project-info">
              <h1>CÔNG TRÌNH 1.200 KWP</h1>
              <h2>ĐỊA ĐIỂM: KCN RẠCH BẮP, TỈNH BÌNH DƯƠNG</h2>
              <p>Công suất (kWp): 1200</p>
              <p>Sản lượng (kWh/năm):</p>
              <p>Giảm thải CO2 (tấn/năm):</p>
              <p>Thời gian thi công (Năm):</p>
            </div>
            <div class="project-img">
              <img src="img/project4.jpg" alt="img" />
            </div>
          </div>
          <div class="project-item">
            <div class="project-info">
              <h1>CÔNG TRÌNH 1.000 KWP</h1>
              <h2>ĐỊA DIỂM: KCN TAM PHƯỚC, TỈNH ĐỒNG NAI</h2>
              <p>Công suất (kWp): 1000</p>
              <p>Sản lượng (kWh/năm):</p>
              <p>Giảm thải CO2 (tấn/năm):</p>
              <p>Thời gian thi công (Năm):</p>
            </div>
            <div class="project-img">
              <img src="img/project5.png" alt="img" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Projects Section -->

    <!-- Contact Section -->
    <section id="contact">
      <div class="contact container">
        <div>
          <h1 class="section-title">Liên<span>hệ</span></h1>
        </div>
        <div class="contact-items">
          <div class="contact-item">
            <div class="icon">
              <img src="https://img.icons8.com/bubbles/100/000000/phone.png" />
            </div>
            <div class="contact-info">
              <h1>Điện thoại</h1>
              <h2>+84 909192898</h2>
            </div>
          </div>
          <div class="contact-item">
            <div class="icon">
              <img
                src="https://img.icons8.com/bubbles/100/000000/new-post.png"
              />
            </div>
            <div class="contact-info">
              <h1>Email</h1>
              <h2>tbnetjsc@tbnet.vn</h2>
            </div>
          </div>
          <div class="contact-item">
            <div class="icon">
              <img
                src="https://img.icons8.com/bubbles/100/000000/map-marker.png"
              />
            </div>
            <div class="contact-info">
              <h1>Địa chỉ</h1>
              <h2>32 Tân Canh, Phường 1, Quận Tân Bình, TP. Hồ Chí Minh</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Contact Section -->

    <!-- Footer -->
    <section id="footer">
      <div class="footer container">
        <div class="brand">
          <h1><span>T</span>B <span>N</span>ET</h1>
        </div>
        <div class="social-icon">
          <div class="social-item">
            <a href="#"
              ><img
                src="https://img.icons8.com/bubbles/100/000000/facebook-new.png"
            /></a>
          </div>
          <div class="social-item">
            <a href="#"
              ><img
                src="https://img.icons8.com/bubbles/100/000000/instagram-new.png"
            /></a>
          </div>
          <div class="social-item">
            <a href="#"
              ><img src="https://img.icons8.com/bubbles/100/000000/behance.png"
            /></a>
          </div>
        </div>
        <p>Copyright © 2020 TBNETSOLAR</p>
      </div>
    </section>
    <!-- End Footer -->
    <script>
      const hamburger = document.querySelector(
        ".header .nav-bar .nav-list .hamburger"
      );
      const mobile_menu = document.querySelector(
        ".header .nav-bar .nav-list ul"
      );
      const menu_item = document.querySelectorAll(
        ".header .nav-bar .nav-list ul li a"
      );
      const header = document.querySelector(".header.container");

      hamburger.addEventListener("click", () => {
        hamburger.classList.toggle("active");
        mobile_menu.classList.toggle("active");
      });

      document.addEventListener("scroll", () => {
        var scroll_position = window.scrollY;
        if (scroll_position > 250) {
          header.style.backgroundColor = "#29323c";
        } else {
          header.style.backgroundColor = "transparent";
        }
      });

      menu_item.forEach((item) => {
        item.addEventListener("click", () => {
          hamburger.classList.toggle("active");
          mobile_menu.classList.toggle("active");
        });
      });
    </script>
  </body>
</html>
